
.planner{
    padding: 5%;
    box-sizing: border-box;
}

h2{
    font-size: 20px;
    padding: 0;
    text-align: left;
    text-decoration: underline;
    color: #212427;

    
}


h3{
    margin: 0;
    font-size: 16px;
    padding: 0;
    text-align: left;

    
}


.popup{
    width: 100%;
    height: auto;
    background-color: #f9f9f9;
    border: 1px solid grey;
}

.mealTypeHeader{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 8px 0px;
}

.mealTypeHeader *{
    flex:1;
    /* border: 1px solid grey; */
}

.mealTypeHeader >:first-child{
    justify-content: left;
    text-align: left;
}

.mealTypeHeader >:nth-child(2){
    justify-content: right;
    text-align: right;
}
.addBtnContainer{
    padding: 12px;
    gap:8px;
    box-sizing: border-box;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #F2F2F2;
}

.addIcon{
    width: 24px;
    height: 24px;
    background-image: url(../../assets/icons/addIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.addFoodBtn{
    width: max-content;
    padding: 2px;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;

    
}
.addFoodBtn >:nth-child(2){
    text-decoration: underline;
    font-size: 16px;
    color: #212427;
}