.container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: outfit;
    font-size: 16px;
    margin-bottom: 4px;
    
}



/* .container >:first-child{
    display: flex;
    flex-direction: row;
    
}

.container >:first-child>:first-child{
    flex: 1;
    text-align: left;
}

.container >:first-child>:nth-child(2){
    flex: 1;
    text-align: right;
} */




.container >:first-child{
    padding: 12px;
    gap:8px;
    box-sizing: border-box;
    height: min-content;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background-color: #F2F2F2;
    min-height:45px;
  
}

.container >:first-child div{
    display: flex;
    flex-direction: row;
    align-items: center;


}

.container >:first-child >:first-child{
   flex:6;
   justify-content: left;
   text-align: left;
}

.container >:first-child >:nth-child(2){
   flex:2;
}

.container >:first-child >:nth-child(3){
    flex:1;
    justify-content: right;
}


.container >:first-child >:nth-child(2) button{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: 16px;
}

.optionsBtn{
background-image: url(../../assets/icons/options.png);
background-position: center;
background-repeat: no-repeat;
background-size: auto;
background-color: transparent;
border: none;
}

h4{
    margin: 0;
    padding: 0;
}

